html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
}

a {
    color: #fff;
}

#header {
    height: 63px;
    width: 100%;
    background-color: #2f8ec5;
    color: #fff;
    border-width: 2px;
    border-color: #194a67;
    border-style: none none solid none;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 30px;
}

.title {
    font-size: 20px;
}

.slogan {
    font-size: 18px;
}

.headbtn {
    height: 34px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 7px;
    margin-left: 20px;
    margin-right: 20px;
}

.headbtn:hover {
    border-width: 2px;
    border-color: #2f8ec5;
    border-style: none none solid none;
}

#content {
    max-width: 720px;
    margin: auto;
}

.box {
    margin-top: 40px;
    width: 100%;
    height: 136px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2px;
    padding: 8px;
}

.boxheader {
    background-color: #2f8ec5;
    color: #fff;
    max-width: 712px;
    width: 100%;
    padding: 4px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 1px;
}

.logo {
    display: block;
    height: 100px;
    width: 250px;
    background-repeat: no-repeat;
    border-right: 1px solid rgba(0,0,0,0.1);
    background-position: 50%;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    float: left;
    border-left: 1px solid rgba(0,0,0,0.1);
}

.score {
    float: left;
    width: 250px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.1);
    font-weight: 400;
    height: 100px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    line-height: 100px;
    font-size: 24px;
}

.link {
    width: 210px;
    float: left;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.reviewbtn {
    background-color: #2f8ec5;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #194a67;
    
}

.reviewbtn:hover {
    background-color: #194a67;
    border-color: #2f8ec5;
}

#src {
    color: white;
    text-align: center;
    padding: 4px;
}

#ev0logo {
    background-image: url(../img/ev0.png);
}